body
{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(109,79,196,1) 11%, rgba(29,153,253,1) 50%, rgba(69,130,252,1) 100%);display: flex;
    justify-content: center;
    min-width: 400px;
}

.heading
{
    text-align: center;
    margin: 10px;
    padding: 10px;;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    width: 90%;
    border-radius: 10px;
    opacity: 0.8;
    margin-left: 5%;


}



@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: fixed;
    top:5vh;
    justify-content: center; 
    z-index: 4;
    display: inline-block;
}




.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(109,79,196,1) 11%, rgba(29,153,253,1) 50%, rgba(69,130,252,1) 100%);
    width: 100%;
    height:100vh;
    z-index: 2;
    
   
}

.circles{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
#CodingArea
{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    width: 90%;
    min-height:300px;
    border-radius: 10px;
    top: 25vh;
    opacity: 0.8;
    min-width: 300px;
    float: left;
    display: block;
}
#textcontainer
{   margin-left: 2.5%;
    /* border: 1px solid black; */
    width: 95%;
    border-radius: 5px;
}

#textcontainer
{
    width: 90%;
    margin-left: 5%;
}
#m_code
{
    width: 100%;
    border: 0px solid white;

}
#submitbutton
{
    background-color: orangered;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: 0px;
    color: white;
    font-size:  medium;
}